.mm-contents-collection
  .container
    .movies,.photos
      margin-bottom 40px
      &:last-child
        margin-bottom 0
      & > li
        margin-bottom 10px
        &:last-child
          margin-bottom 0
