.mm-footer
  width 100%
  border-top solid 1px #b59c77
  background-color #000
  height 50px
  vp(display,flex)
  vp(flex-direction,column)
  vp(flex-wrap,wrap)
  vp(justify-content,center)
  vp(align-items,center)
  .copy
    text-align center
    font-size 13px

.mm-contents
  margin-top vh_all
  padding-bottom 40px
  &.on-navbar-bottom
    margin-top vh_all + 100px
