/**
* Config
* Ver 0.0.8
*/
var_display_size_pc = 1100px
var_display_size_tab = 720px
var_display_size_sp = 480px

var_container_width = 1100px
var_container_width_s = 950px
var_container_width_xs = 750px

var_color_default = #fcfcfc
var_color_default_opp = #797979
var_color_primary = #3e9ce9
var_color_primary_opp = #FFF
var_color_success = #4ce93e
var_color_success_opp = #FFF
var_color_info = #3ee9e4
var_color_info_opp = #FFF
var_color_warning = #e9be3e
var_color_warning_opp = #FFF
var_color_danger = #db0202
var_color_danger_opp = #FFF

var_navbar_bgc = #FFF
var_navbar_fontc = #666666
var_navbar_height = 50px

// Include
@import "stylus/wrap.styl"
