disp_size_pc()
  @media screen and (min-width var_display_size_pc)
    {block}

disp_size_tab()
  @media screen and (min-width var_display_size_tab)
    {block}

disp_size_sp()
  @media screen and (max-width var_display_size_sp)
    {block}
